.audio-icon{
  position: fixed; /* Fixes the position relative to the viewport */
  top: 10px; /* Adjust the distance from the top of the viewport */
  right: 10px; /* Adjust the distance from the left of the viewport */
  padding: 10px; /* Optional: Add some padding */
  width: 6vw;
  border-radius: 5px; /* Optional: Round the corners */
  z-index: 1000; /* Ensure it appears above other content */
}
