#root {
  padding: 0;
  user-select: none;
}
body {
  background-color: #333333;
  color: white;
  font-family: "Georgia", serif;
}
a {
  color: white;
}

a:hover {
  color: blue;
}


a:active {
  color: darkblue;
}
